.App {
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  padding-top: 2em;
  background-color: #efefef;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p,
li {
  font-size: 2rem;
}

ul {
  list-style: none;
}

input,
select,
textarea {
  padding: 0.4em 0.2em;
  font-size: 1.2rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.delete-button {
  color: red;
  cursor: pointer;
}

button[disabled=""] {
  background-color: gray;
}

.recipe {
  text-align: center;
  background: whitesmoke;
  padding: 1em;
}

.recipe h1 {
  font-size: 2.5rem;
  text-align: center;
}

.recipe-header > p {
  margin: 0;
}

.like-button {
  position: fixed;
  right: 1em;
  bottom: 1em;
  font-size: 2rem;
  background-color: #f15f79;
  color: white !important;
}

.spinner {
  text-align: center;
  padding: 5em;
}